.factura-caja {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70vh;
    width: 35vw;
    padding: 20px;
    margin-right: 2vw;
    background-color: rgba(255, 140, 4, 0.53);
}

.factura-caja h2 {
    font-size: 32px;
    padding: 10px;
    margin: 0;
}
.data-pagar {
    width: 100%;
    height: 55vh;
    margin-bottom: 10px;
    background-color:blanchedalmond ;
}
.data-caja {
    display: flex;
    border-bottom: 1px solid;
    height: 10%;
    padding: 3px;
    background:#FF8C04 ;
}
.data-caja h3 {
    font-size: 25px;
    margin: 0 0 0 3%;
    overflow:hidden;
}
.data-caja h3:first-child{
    width: 60%;
}
.data-caja span {
    color: #900404;
}
.data-pagar ul {
    list-style: none;
    margin-left: -20px;
}
.data-pagar ul li:first-child{
    margin-right: 30px;
    text-indent: 4px;
    font-weight: bolder;
    text-align-last: justify;
    font-size: 26px;
}
.orden-caja {
    height: 75%;
    overflow: auto;
    border-bottom: 1px solid;
}
.span-1 {
    width: 10%;
    margin-left: 5%;
  }
  .span-2 {
    width: 56%;
    margin-left: 4%; 
    overflow: hidden;
  }
.span-3 {
    margin-left: 6%;
}
.detalle-caja {
    font-size: 25px;
    margin-top: 3%;
}
.detalle-caja span:first-child{
    margin-right: 10%;
    margin-left: 15%;
}
.detalle-caja span:nth-child(2){
    color:#900404;
    font-weight: 800;
}
.registro-caja{
    height: 90%;
    overflow: auto;
    width: 100%;
}
.registro {
    list-style: none;
    padding: 10px;
    margin-top: 0;
    font-family: 'Quicksand';
    font-weight: 600;
}
.registro li {
border: solid 1px #c26c03;
margin-bottom: 10px;
background:#FF8C04;
overflow: auto;
}
.up {
    border-left: 5px solid #900404;
}
.sum-up{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 9px;
    font-size: 20px;
}
.salon-content {
    margin-left: 4vw;
}
.salon-content .factura-caja:first-child {
    width: 45%;
    
}
.registro li div:first-child {
color: #900404;
overflow: hidden;
width: 25%;
margin-right: 3px;
}
.registro li div:nth-child(2) {
    margin-top: 3px;
    padding: 2px;
    height: 32px;
    overflow: hidden;
}
details[open] {
    background: blanchedalmond;
    border-bottom: 1px dashed wheat;
}
.up[open] > summary {
    background:#FF8C04;
}
details details[open]{
    background: none;
    width: 25vw;
}
.opciones-historial {
    color: #900404;
    border-bottom: #900404 1px dashed;
}
details p {
    margin-left: 15px;
}
@media all and (orientation: portrait) {
    hr {
        margin-top: -5vh !important;
    } 
    .pedidos {
        flex-direction: column-reverse;
        align-items: center;
    }
    .caja-template .menuLateral {
        height: 120vh;
    }
    .factura-caja {
        width: 60vw;
        height: 50vh;
    }
    .factura-caja:first-child {
        width: 60vw !important;
        height: 40vh;
        margin-top: 4vh;
    }
}