.cocina-content {
    display: flex;
    margin-top: 5%;
    height: 70vh;
    overflow: auto;
    flex-wrap: wrap;
}
.cocina-content img {
    margin-left: 40%;
}

.ordenPendiente {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 37vw;
    height: 60vh;
    margin: 0 0 20px 4vw;
    background: rgba(255, 140, 4, 0.53);
}
.list-orden{
    list-style: none;
    margin: 10px 10px 10px -20px;
}
.ordenesEntrantes {
overflow: auto;
height: 55vh;
width: 100%;
}
.btn-list {
    background-color: #FF8C04;
    box-shadow: 3px 5px 4px rgb(0 0 0 / 50%);
    border: solid 1px #900404;
    font-size: 25px;
    width: 33vw;
    height: 10vh;
    font-family: 'Quicksand', sans-serif;
    font-weight: bolder;
}
.datos-cocina{
    background-color:#FF8C04;
}
.ordenCocina {
    background:blanchedalmond;
    margin-top: 2vh;
    width: 35vw;
    height: 55vh;
    border:solid 1px black;
}
.ordenCocina div:first-child {
    display: flex;
    justify-content: space-around;
    font-size: 22px;
    height: 10vh;
    border-bottom: solid 1px black;
}
.list-cocina {
    height: 37vh ;
    overflow: auto;
    border-bottom: solid 1px;
}
.li-orden {
    display: flex;
    font-family:'Quicksand';
    font-size: 20px;
    padding: 5px;
    height: 50px;
}
.orden-preparacion .li-orden:first-child {
    height: 30px;
}
.li-orden div:first-child {
   width: 50px;
   height: 30px;
   border: none;
   margin-left: 7px;
}
.span-cocina {
    font-weight: 800;
    color:#900404;
}
.span-cocina:nth-child(2) {
    font-weight: 800;
    margin-left: 20% !important;
}
.orden-preparacion {
    list-style: none;
    overflow: auto;
    margin: 0 0 0 0;
    padding: 5px;
}
.orden-preparacion div:nth-child(2n) {
    text-justify:center;
    margin-left: 3vw;
}
.listo {
    text-decoration: line-through;
}
.enEspera {
    text-decoration : none;
}
.ordenCocina .btn-2 {
    margin-left: 20px;
}
.footKitchen{
    display: flex;
    padding: 5px;
    justify-content: center;    
}
.time {
    height: 6vh !important;
    background: #ffff;
    width: 20vw;
    font-size: 35px !important;
    border: solid 1px;
}
.timer-kitchen{
    margin-left: 0 !important;
}
.footKitchen span {
    margin-left: -30px;
}