.btn-1 {
    background: #910404;
    box-shadow: 3px 5px 4px rgba(0, 0, 0, 0.5);
    width: 34vw;
    height: 12vh;
    font-family: 'Rancho';
    font-size: 55px;
    color: #FF8C04;
  }

.btn-2 {
    background-color:  #900404;
    box-shadow: 3px 5px 4px rgba(0, 0, 0, 0.5);
    color: #ffff;
    font-size: 29px;
    width: 11vw;
    height: 6vh;
    font-family: 'Rancho';
}
.btn-3 {
    background-color: #FF8C04 ;
    box-shadow: 3px 5px 4px rgba(0, 0, 0, 0.5);
    border: solid 1px #900404;
    font-size: 20px;
    white-space: pre-wrap;
    width: 35vw;
    height: 10vh;
    font-family: 'Quicksand', sans-serif;
    font-weight:bolder;
    transition-duration: 0.4s;
}
.btn-4 {
  border-radius: 50%;
  background-color:#FFFF;
  color: #d8e9f9;
  font-weight: bolder;
  font-size: 30px;
  width: 40px;
  height: 40px;
   border: solid #FFFF 0.5px;
  /*box-shadow: 3px 2px 4px rgba(0, 0, 0, 0.5); */
}
 .animation {
    color: #201304;
 }
 .animation:focus {
    background-color: #960b0bf6;
    color: white;
  }
.menuLateral{
    width: 15vw;
    height: 100vh;
    background-color: #900404;
}
 .menuLateral img {
     width: 13vw;
     margin: 2vh 1vw 0 1vw ;
     filter: drop-shadow(3px 6px 4px rgba(0, 0, 0, 0.56));
 }

 .titulo {
    margin: -5vh 0 0 4vw;
    font-size: 5vh;
    color: #FF8C04;
  }
 
  .adicional {
      background: #ffff;
      border: solid 3px #900404;
      width: 24vw;
      padding: 2%;
      position: absolute;
      font-family: 'Quicksand', sans-serif;
      font-size: 20px;
      font-weight:bold;
  }
  .salir {
      margin-left:75%;
      margin-top: -1em;
      background: #ffff;
      color: #900404;
      font-size: 1.5em;
      border: none;
      position: absolute;
  }
  
svg {
  stroke: rgb(26, 25, 25);
  width: 25px ;
  height:25px ;
  margin-right: 3%;
  margin-top: 5%;
}


input[type="radio"] {
  position: absolute;
  opacity: 0;
}

input + svg {
  cursor: pointer;
}

input[value=" de res"]:hover + svg,
input[value=" de res"]:checked + svg,
input[value=" de res"]:focus + svg {
  stroke: rgb(165, 22, 22);
}

input[value=" de pollo"]:hover + svg,
input[value=" de pollo"]:checked + svg,
input[value=" de pollo"]:focus + svg {
  stroke: rgb(228, 158, 7);
}

input[value=" vegetariana"]:hover + svg,
input[value=" vegetariana"]:checked + svg,
input[value=" vegetariana"]:focus + svg {
  stroke: rgb(103, 165, 22);
}
.adicional input[type="checkbox"]{
 margin-bottom: 6%;
}
.adicional label span {
    font-size: 26px;
    margin-bottom: 7px;
}

  form .btn-2 {
      position: relative;
      margin: 2% 0 0 30%;
  }

  /*Estilos comanda*/

  
.comanda {  
	border:1px solid #900404;
	border-radius:4px;
	/* float:left; */
}
.comanda ul { 
	list-style:none; 
	float:left; 
	width:37vw; 
	margin:0; 
	border:1px solid #f2f3f3;
	padding:5px;
	text-align:center;
	background-color:#FFF;
}
.comanda ul li {  
	border-bottom:1px dashed #cfd2d2;
	padding:5px ;
    font-size: 25px;
    
}
.comanda ul li:first-child{
    margin-right: 30px;
    text-indent: 13px;
    font-weight: bolder;
    text-align-last: justify;
    font-size: 30px;
}
.orden {
    background-color: #ffff;
    height: 50vh;
    overflow: auto;
    
}
.datos {
    padding: 5%;
    color:#900404;
    font-size:30px;
    white-space: pre-wrap;
    background-color: #ffff;
    border-bottom:solid 2px #900404 ;
}
.mesas {
width: 5vw;
font-size:20px;
font-weight:bold;
}
.cliente {
  width: 12vw; 
  font-size:20px; 
}
.total {
    font-size: 25px;
    padding: 2%;
    text-align: center;
    background-color: #ff8e04a6;
}
.pedidos {
display: flex;
flex-direction: row;
justify-content: space-between;
}
.spam-1 {
    text-indent: 3vw;
    width: 1vw;
  }
  .spam-2 {
    width: 56%;
    margin-left: -13%;
  }
.spam-3 {
    margin-right: 4vw;
    margin-left: -20%;
}

.btn-comanda {
 display: flex;
 justify-content: space-around;
 padding: 2%;
}
.btn-comanda button {
  width: 38%;
}

@media all and (orientation: portrait){
  .btn-1{
    width: 50vw;
    height: 10vh;
  }
  .btn-2 {
    width: 25vw; 
  }
  .menu .btn-2 {
    margin-bottom: 3vh;
  }
  .btn-3 {
    height: 6vh;
    width: 40vw;
  }
  .titulo {
    font-size: 4vh;
  }
  .orden {
    height: 20vh;
    width: 70vw;
  }
  .orden li:first-child {
    width: 60vw;
  }
  .orden li {
    width: 65vw;
  }
}